<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Phone Hunter</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="Styles/style.css" type="text/css">
  <link href="Styles/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
</head>
<body>
  <div id="content">
      <h2 id="name">Phone hunter</h2>
      <button id="start">Start game</button>
  </div>
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/customDesign.js"></script>
   <script text="text/javascript" src="js/main.js" type="module"></script>
 </body>
</html>